language: java
jdk:
  - openjdk11

# sudo: required

os: linux
dist: xenial

services:
  - docker

stages:
  - name: Lint
  - name: Build
  - name: Test
  - name: Publish
    if: branch = master OR commit_message = "[publish]"

# import:
#   - source: Alfresco/alfresco-process-tools:.travis.kubernetes_install.yml@master
#   - source: Alfresco/alfresco-process-tools:.travis.docker_login.yml@master

env:
  global:
    - TRAVIS_WAIT_TIMEOUT=${TRAVIS_WAIT_TIMEOUT:-30}
    - BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-${TRAVIS_BRANCH}}
    - HELM_REPO_BASE_URL=https://kubernetes-charts.alfresco.com
    - HELM_REPO=incubator
    - KUBERNETES_VERSION=1.18.4
    - HELM_VERSION=${HELM_VERSION:-3.2.4}

cache:
  directories:
    - ${HOME}/.m2
    - ${HOME}/.m2/repository

branches:
  only:
    - master
    - /AUTH-.*/
    - /OPSEXP-.*/

before_install:
  - |
    # cp .travis.settings.xml $HOME/.m2/settings.xml
    pip install --upgrade awscli
    # use helm 2 for the Build stage
    if [[ ${TRAVIS_BUILD_STAGE_NAME} == "Build" ]]; then
      HELM_VERSION=2.16.7
      curl https://get.helm.sh/helm-v${HELM_VERSION}-linux-amd64.tar.gz | tar zx
      sudo mv linux-amd64/helm /usr/local/bin
      helm version --client
      helm init --client-only
    else
      curl https://get.helm.sh/helm-v${HELM_VERSION}-linux-amd64.tar.gz | tar zx
      sudo mv linux-amd64/helm /usr/local/bin
      helm version
    fi
    # curl -o aws-iam-authenticator https://amazon-eks.s3.us-west-2.amazonaws.com/1.16.8/2020-04-16/bin/linux/amd64/aws-iam-authenticator
    # curl -o aws-iam-authenticator.sha256 https://amazon-eks.s3.us-west-2.amazonaws.com/1.16.8/2020-04-16/bin/linux/amd64/aws-iam-authenticator.sha256
    # openssl sha1 -sha256 aws-iam-authenticator
    # chmod +x ./aws-iam-authenticator
    # mkdir -p $HOME/bin && cp ./aws-iam-authenticator $HOME/bin/aws-iam-authenticator && export PATH=$PATH:$HOME/bin
    # export PATH=$PATH:$HOME/bin
    # aws eks update-kubeconfig --name acs-cluster --region=eu-west-1

before_script:
  - |
    REPO_NAME=${TRAVIS_REPO_SLUG##*/}
    PROJECT_NAME=alfresco-identity-service
    helm repo add alfresco ${HELM_REPO_BASE_URL}/stable
    helm repo add stable https://kubernetes-charts.storage.googleapis.com
    helm repo add alfresco-incubator ${HELM_REPO_BASE_URL}/${HELM_REPO}
    if [[ "${TRAVIS_BRANCH}" == "master" ]] && [[ "${TRAVIS_COMMIT_MESSAGE}" == *"[release]"* ]]
    then
      export HELM_REPO=stable
    fi
    helm repo update
    echo using PROJECT_NAME=${PROJECT_NAME},BRANCH=${BRANCH},HELM_REPO=${HELM_REPO}

jobs:
  include:
    - name: Lint chart
      stage: Lint
      script: |
        helm dep up helm/${PROJECT_NAME}
        helm lint helm/${PROJECT_NAME}
    - name: Build
      stage: Build
      script: |
        cd distribution
        # build and package
        make || { echo "Command failed with error code $?"; sleep 1; exit 1; }
        # security scan the build
        source build.properties
        # curl -sSL https://srcclr.com/install | sh
        # make SCAN_FOLDER=alfresco-identity-service-${IDENTITY_VERSION} scan
        # upload ZIP file to S3 bucket
        aws s3 cp alfresco-identity-service-${IDENTITY_VERSION}.zip s3://${S3_ARTIFACTS_BUCKET}/build-${TRAVIS_BUILD_NUMBER}/
    - name: Test ZIP on Linux
      stage: Test
      script: |
        source distribution/build.properties
        export IDENTITY_VERSION=${IDENTITY_VERSION}
        echo "IDENTITY_VERSION=${IDENTITY_VERSION}"
        aws s3 cp s3://${S3_ARTIFACTS_BUCKET}/build-${TRAVIS_BUILD_NUMBER}/alfresco-identity-service-${IDENTITY_VERSION}.zip .
        chmod +x distribution/tests/endpoints.sh
        distribution/tests/endpoints.sh
      after_script: |
        # empty the artifacts bucket (in case there were previous failed builds)
        aws s3 rm s3://${S3_ARTIFACTS_BUCKET}/build-${TRAVIS_BUILD_NUMBER}/ --recursive
    # - name: Test ZIP on Windows
      stage: Test Windows
      os: windows
      env: OS=Windows    
      powershell: |
        ls
        Add-Type -AssemblyName System.IO.Compression.FileSystem
        function unzip {
        param( [string]$ziparchive, [string]$extractpath )
        [System.IO.Compression.ZipFile]::ExtractToDirectory( $ziparchive, $extractpath )
        }
        echo ${bamboo.prop.IDENTITY_VERSION}
        echo ${bamboo.build.working.directory}
        Get-WmiObject Win32_Process -filter "CommandLine LIKE '%alfresco-identity-service-${bamboo.prop.IDENTITY_VERSION}%'"
        Get-WmiObject Win32_Process -filter "CommandLine LIKE '%alfresco-identity-service-${bamboo.prop.IDENTITY_VERSION}%'" | select-object -Property ProcessId
        Get-WmiObject Win32_Process -filter "CommandLine LIKE '%alfresco-identity-service-${bamboo.prop.IDENTITY_VERSION}%'" | foreach { kill $_.ProcessId }
        unzip '${bamboo.build.working.directory}\alfresco-identity-service-${bamboo.prop.IDENTITY_VERSION}.zip' '${bamboo.build.working.directory}'
        ls
    #     echo "TODO"
    # - name: Test Helm Chart
    #   stage: Test
    #   script: |
    #     echo "TODO"