apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ template "alfresco-identity.fullname" . }}
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  rules:
  - http:
      paths:
      - path: {{ .Values.ingress.path }}
        backend:
          serviceName: {{ template "keycloak.fullname" }}-http
          servicePort: {{ .Values.keycloak.keycloak.service.port }}