apiVersion: v1
kind: ConfigMap
metadata:
  name: realm-config-{{ template "alfresco-identity.fullname" . }}
data:
  realm_install.sh: |
    #!/usr/bin/env bash
    set -eu
    pod_labels="${1?Please specify keycloak labels}"
    dns_endpoint="${2?Please specify the ingress DNS endpoint}"
    max_retries=60
    retry_count=0
    sleep_secs=2
    ready_pods=
    echo "Polling for keycloak pod $pod_labels readiness..."
    while [ -z "$ready_pods" ] && [ "$retry_count" -lt "$max_retries" ]; do
        ready_pods=$(kubectl get pods -l "$pod_labels" -o jsonpath="{.items[*].status.containerStatuses[?(@.ready==true)].name}")
        retry_count=$((retry_count + 1))
        sleep "$sleep_secs"
    done
    if [ -z "$ready_pods" ]; then
        echo "ERROR: Timeout waiting for keycloak pod $pod_labels to start up." >&2
        exit 1
    fi
    echo "Keycloak ready!"
    echo "Deploying the alfresco realm!"
    echo "Obtaining login token"
    REALMCONFIG=$(cat /realmsecret/config)
    echo "installing curl and jq"
    echo CACHEBUST>/dev/null && clean-install curl jq
    echo "Getting Auth json"
    CURLOUTPUT=$(curl --insecure -d "client_id=admin-cli" -d "username=$KEYCLOAKUSERNAME" -d "password=$KEYCLOAKSECRET" -d "grant_type=password" "https://$dns_endpoint/auth/realms/master/protocol/openid-connect/token")
    echo "Parsing Access Token"
    Accesstoken=$(echo $CURLOUTPUT | jq -r .access_token)
    echo "Deploying Realm"
    curl --insecure -H "Content-Type: application/json" -H "Authorization:Bearer $Accesstoken" -X POST -d "$REALMCONFIG" "https://$dns_endpoint/auth/admin/realms"