ingress:
  enabled: true
  path: /auth
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "16k"
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/session-cookie-name: "identity_affinity_route"
    nginx.ingress.kubernetes.io/session-cookie-hash: "sha1"

realm:
  alfresco:
    client:
      redirectUris:
        - "http://localhost*"
        - "https://localhost*"
      webOrigins:
        - "http://localhost*"
        - "https://localhost*"
    extraRealmRoles:
      - name: test_role
        scopeParamRequired: true
        composite: false
        clientRole: false
        containerId: "alfresco"
    extraGroups:
      - name: testgroup
        path: "/testgroup"
    extraUsers:
      - username: testuser
        enabled: true
        totp: false
        emailVerified: false
        firstName: test
        lastName: test
        email: test@test.com
        credentials:
          - type: password
            hashedSaltedValue: "+A2UrlK6T33IHVutjQj9k8S8kMco1IMnmCTngEg+PE+2vO4jJScux6wcltsRIYILv5ggcS3PI7tbsynq5u39sQ=="
            salt: "IyVlItIo27bmACSLi4yQkA=="
            hashIterations: 20000
            counter: 0
            algorithm: pbkdf2
            digits: 0
            period: 0
        disableableCredentialTypes:
          - password
        realmRoles:
          - uma_authorization
          - user
          - offline_access
          - test_role
        clientRoles:
          account:
            - manage-account
            - view-profile
        groups:
          - "/admin"
          - "/testgroup"

keycloak:
  rbac:
    create: false
  keycloak:
    image:
      repository: quay.io/alfresco/alfresco-identity-service
      tag: 1.2-auth-392-final
      pullSecrets:
        - quay-registry-secret
    username: admin
    password: admin
    service:
      port: 80
    extraInitContainers: |
      - name: theme-provider
        image: alfresco/alfresco-keycloak-theme:0.1
        imagePullPolicy: Always
        command:
          - sh
        args:
          - -c
          - |
            echo "Copying theme..."
            cp -R /alfresco/* /theme
        volumeMounts:
          - name: theme
            mountPath: /theme
    extraVolumes: |
      - name: realm-secret
        secret:
          secretName: realm-secret
      - name: theme
        emptyDir: {}
    extraVolumeMounts: |
      - name: realm-secret
        mountPath: "/realm/"
        readOnly: true
      - name: theme
        mountPath: /opt/alfresco/alfresco-identity-service/themes/alfresco
    extraArgs: "-Dkeycloak.import=/realm/alfresco-realm.json"
    persistence:
      deployPostgres: true
      dbVendor: postgres
      dbPassword: keycloak
  persistence:
    deployPostgres: true
  postgresql:
    nameOverride: postgresql-id
    imageTag: "10.1"
    postgresPassword: "keycloak"
    persistence:
      enabled: true
      existingClaim: "alfresco-volume-claim"
      subPath: "alfresco-identity-service/database-data"
    resources:
      requests:
        memory: "250Mi"
      limits:
        memory: "500Mi"

