ingress:
  enabled: true
  path: /auth
  proxyBufferSize: "16k"

ingressHostName: "your ingress dns name"

client:
  alfresco:
    redirectUris: "[\"http://localhost*\"]"

keycloak:
  rbac:
    create: false
  keycloak:
    username: admin
    password: admin
    extraInitContainers: |
      - name: theme-provider
        image: alfresco/alfresco-keycloak-theme:0.1
        imagePullPolicy: IfNotPresent
        command:
          - sh
        args:
          - -c
          - |
            echo "Copying theme..."
            cp -R /alfresco/* /theme
        volumeMounts:
          - name: theme
            mountPath: /theme    
    extraVolumes: |
      - name: realm-secret
        secret:
          secretName: realm-secret
      - name: theme
        emptyDir: {}    
    extraVolumeMounts: |
      - name: realm-secret
        mountPath: "/realm/"
        readOnly: true
      - name: theme
        mountPath: /opt/jboss/keycloak/themes/alfresco  
    extraArgs: "-Dkeycloak.import=/realm/alfresco-realm.json"
    persistence:
      deployPostgres: true
      dbPassword: keycloak
  postgresql:
    nameOverride: postgresql-id
    imageTag: "10.1"
    persistence:
      existingClaim: "alfresco-volume-claim"
      subPath: "alfresco-identity-service/database-data"
    resources:
      requests:
        memory: "250Mi"
      limits:
        memory: "500Mi"

